@using System.Runtime.InteropServices.ComTypes
@using fletnix.Models
@using Microsoft.EntityFrameworkCore.Query.Internal
@model fletnix.Models.Movie


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Edit</title>
</head>
<body>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>@Html.DisplayFor(model => model.Title)</h4>
        <hr/>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="MovieId" id="movieId"/>
        <div class="form-group">
            <div class="row">
                <h2>Genre(s) @Model.MovieGenre.Count</h2>


                @foreach (var genre in Model.MovieGenre)
                {
                    <div class="col-md-1 movie-genre">
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-12 text-center" style="text-align: center">
                                @genre.GenreName
                            </div>
                        </div>
                    </div>
                }
                <div class="col-md-1">
                    <div onclick="$('#genreModal').modal('toggle');" style="min-height: 60px; cursor: pointer">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <i style="font-size: 24px; color: #CCCCCC; padding-top: 20px;" class="fa fa-plus" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <hr></hr>

        <div class="form-group">
            <h2>Movie Information</h2>

            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Duration" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Duration" class="form-control"/>
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PublicationYear" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PublicationYear" class="form-control"/>
                <span asp-validation-for="PublicationYear" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CoverImage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CoverImage" class="form-control"/>
                <span asp-validation-for="CoverImage" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PreviousPart" class="control-label col-md-2"></label>
            <div class="col-md-10">

                <select id="select" asp-for="PreviousPart" class="form-control">
                    @if (Model.PreviousPartNavigation != null)
                    {
                        <option selected value="@Model.PreviousPartNavigation.MovieId">@("(" + Model.PreviousPartNavigation.PublicationYear + ") " + Model.PreviousPartNavigation.Title)</option>
                    }
                    else
                    {
                        <option value="" selected="selected">Select a movie</option>
                    }
                </select>
                <span asp-validation-for="PreviousPart" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Url" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Url" class="form-control"/>
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
        </div>

        <hr></hr>

        <div class="row">
            <h2>Movie Director(s) @Model.MovieDirector.Count</h2>


            @foreach (var director in Model.MovieDirector)
            {
                <div class="col-md-2">
                <div onclick="removeDirector('@director.PersonId', '@director.MovieId')"><i class="fa fa-times-circle-o" aria-hidden="true"></i></div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12 text-center">
                            @director.Person.Firstname @director.Person.Lastname<br><b>Director</b>
                        </div>
                    </div>
                </div>
            }

            <div class="col-md-2">
                <div onclick="$('#directorModal').modal('toggle');" style="min-height: 100px; cursor: pointer">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <i style="font-size: 48px; color: #CCCCCC; padding-top: 50px;" class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
        <hr></hr>
        
        <div class="row">
            <h2>Movie cast @Model.MovieCast.Count</h2>


            @foreach (var cast in Model.MovieCast)
            {
                <div class="col-md-2">
                    <div onclick="removeCast('@cast.PersonId', '@cast.MovieId', '@cast.Role')"><i class="fa fa-times-circle-o" aria-hidden="true"></i></div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-12 text-center">
                            @cast.Person.Firstname @cast.Person.Lastname<br><b>@cast.Role</b>
                        </div>
                    </div>
                </div>
            }

            <div class="col-md-2">
                <div onclick="$('#castModal').modal('toggle');" style="min-height: 100px; cursor: pointer">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <i style="font-size: 48px; color: #CCCCCC; padding-top: 50px;" class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </br>
    </br>
    <hr></hr>

    <div class="form-group">
        <div class="col-md-12">
            <a class="col-md-2" asp-action="Index">Back to List</a> <input type="submit" value="Save" class="btn btn-default"/>
        </div>
    </div>
</form>

<div>

</div>

@section Scripts
{
    <script type="text/javascript">
        var movieId = $("#movieId")[0].value;

        $("#select").select2({
            ajax: {
                url: function(params) {
                    return window.location.protocol +
                        "//" +
                        window.location.host +
                        "/api/movie/" +
                        params.term +
                        "/" +
                        movieId;
                },
                dataType: "json",
                cache: true,
                delay: 250,
                allowClear: true,
                processResults: function(data) {
                    return {
                        results: $.map(data,
                            function(obj) {
                                if (obj.movieId != movieId) {
                                    return {
                                        id: obj.movieId,
                                        text: obj.title
                                    };
                                }
                            })
                    };
                }
            },
            placeholder: "Search a movie",
            minimumInputLength: 5
        });
    </script>
    
    <script type="text/javascript">
        var searchPersonList;
        $("#personSearch").select2({
            ajax: {
                url: function(params) {
                    return window.location.protocol +
                        "//" +
                        window.location.host +
                        "/api/persons/" +
                        params.term +
                        "/";
                },
                dataType: "json",
                cache: true,
                delay: 250,
                allowClear: true,
                processResults: function(data) {
                    searchPersonList = data;
                    return {
                        results: $.map(data,
                            function(obj) {
                                    return {
                                        id: obj.personId,
                                        text: obj.firstname + " " + obj.lastname
                                    };
                            })
                    };
                }
            },
            placeholder: "Search a person",
            minimumInputLength: 5
        });
    </script>

    <script type="text/javascript">
        var searchPersonList;
        $("#personSearch2").select2({
            ajax: {
                url: function(params) {
                    return window.location.protocol +
                        "//" +
                        window.location.host +
                        "/api/persons/" +
                        params.term +
                        "/";
                },
                dataType: "json",
                cache: true,
                delay: 250,
                allowClear: true,
                processResults: function(data) {
                    searchPersonList = data;
                    return {
                        results: $.map(data,
                            function(obj) {
                                return {
                                    id: obj.personId,
                                    text: obj.firstname + " " + obj.lastname
                                };
                            })
                    };
                }
            },
            placeholder: "Search a person",
            minimumInputLength: 5
        });
    </script>

    
    <script>
        function toggleGenres(genreName) {
            var genreSelected = $("#selected_" + genreName);
            if (genreSelected.hasClass("hidden")) {
                genreSelected.removeClass("hidden");
            } else {
                genreSelected.addClass("hidden");
            }
            return false;
        }
    </script>
    <script>
        @foreach (var genre in (List<Genre>) ViewData["Genres"])
        {
            foreach (var movieGenre in Model.MovieGenre)
            {
                var movieGenreName = movieGenre.GenreName;
                var genreName = genre.GenreName;
                if (genre.MovieGenre != null)
                {
                    if (movieGenreName != genreName)
                    {
                        <text>
                            var selectedGenre = $("#selected_@movieGenreName");
                            selectedGenre.removeClass("hidden");
                        </text>
                    }
                }
            }
        }
    </script>
    <script>
        function addGenres() {
            var selectedGenreList = [];
            @foreach (var genre in (List<Genre>) ViewData["Genres"])
            {
                <text>
                    if (!$("#selected_@genre.GenreName").hasClass("hidden")) {
                        selectedGenreList.push('@genre.GenreName');
                    }
                </text>
            }
            $.ajax
            ({
                type: "POST",
                url: "/api/movie/genre/" + movieId,
                beforeSend: (xhr) => { xhr.setRequestHeader('Content-Type', 'application/json') },
                dataType: 'json',
                async: true,
                data: JSON.stringify({ genres: selectedGenreList })
            }).done(function( data ) {
                window.location.reload();
            });
        }
    </script>
    <script>
        function addDirector(personId) {
            $.ajax
            ({
                type: "POST",
                url: "/api/movie/movieDirector/" + movieId + "/" + personId,
                beforeSend: (xhr) => { xhr.setRequestHeader('Content-Type', 'application/json') },
                dataType: 'json',
                async: true,
                data: JSON.stringify({ movieId: movieId, personId: personId })
            }).done(function( data ) {
                window.location.reload();
            });
        }
    </script>
    <script>
        function removeDirector(personId, movieId) {
            $.ajax
            ({
                type: "POST",
                url: "/api/movie/movieDirector/remove",
                beforeSend: (xhr) => { xhr.setRequestHeader('Content-Type', 'application/json') },
                dataType: 'json',
                async: true,
                data: JSON.stringify({ MovieId: movieId, PersonId: personId })
            }).done(function( data ) {
                window.location.reload();
            });
        }
    </script>
    <script>
        function addCastMember(personId, personRole) {
            $.ajax
            ({
                type: "POST",
                url: "/api/movie/movieCast/" + movieId + "/" + personId + "/" + personRole,
                beforeSend: (xhr) => { xhr.setRequestHeader('Content-Type', 'application/json') },
                dataType: 'json',
                async: true,
                data: JSON.stringify({ movieId: movieId, personId: personId })
            }).done(function( data ) {
                window.location.reload();
            });
        }
    </script>
    <script>
        function removeCast(personId, movieId, personRole) {
            $.ajax
            ({
                type: "POST",
                url: "/api/movie/movieCast/remove",
                beforeSend: (xhr) => { xhr.setRequestHeader('Content-Type', 'application/json') },
                dataType: 'json',
                async: true,
                data: JSON.stringify({ movieId: movieId, personId: personId, Role: personRole })
            }).done(function( data ) {
                window.location.reload();
            });
        }
    </script>
}

<div class="modal fade" id="genreModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="myGenreModelLabel">Add a Genre</h3>
            </div>
            <div class="modal-body">
                <div class="row">


                    <input type="hidden" id="genreMovie" name="MovieId" value="@Model.MovieId"/>

                    @foreach (var genre in (List<Genre>) ViewData["Genres"])
                    {
                        <div class="col-md-3">
                            <div style="padding: 10px; cursor: pointer; text-align: center; width: 95%; background-color: white;">
                                <button onclick="toggleGenres('@genre.GenreName');return false" class="btn btn-default" style="width: 150px">
                                    <span class="hidden" id="selected_@genre.GenreName">✓</span>@genre.GenreName</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default " style="color: black; border: 1px solid #CCCCCC; background-color: white;" data-dismiss="modal">Close</button>
                <button type="button" onClick="addGenres()" class="btn btn-default" style="color: black;">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="directorModal" style="overflow:hidden;" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="myModalLabel">Add a director</h3>
            </div>
            <div class="modal-body">
                <div class="row">

                    <form method="post" id="directorForm" action="/api/movie/director">
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Person</label>
                                        <div class="col-md-10">
                                            <select id="personSearch" class="form-control" style="width: 100%;">
                                                <option value="" selected="selected">Select a person</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default " style="color: black; border: 1px solid #CCCCCC; background-color: white;" data-dismiss="modal">Close</button>
                <button type="button" onClick="addDirector($('#personSearch').val())" class="btn btn-default" style="color: black;">Save changes</button></div>
        </div>
    </div>
</div>

<div class="modal fade" id="castModal" style="overflow:hidden;" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="myCastModalLabel">Add a cast member</h3>
            </div>
            <div class="modal-body">
                <div class="row">

                    <form method="post" id="castForm" action="/api/movie/director">
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Person</label>
                                        <div class="col-md-10">
                                            <select id="personSearch2" class="form-control" style="width: 100%;">
                                                <option value="" selected="selected">Select a person</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Role</label>
                                        <div class="col-md-10">
                                            <input class="form-control" style="width:100%" id="castRole"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default " style="color: black; border: 1px solid #CCCCCC; background-color: white;" data-dismiss="modal">Close</button>
                <button type="button" onClick="addCastMember($('#personSearch2').val(), $('#castRole').val())" class="btn btn-default" style="color: black;">Save changes</button></div>
        </div>
    </div>
</div>

</body>
</html>